$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}


.banner {
  display: flex;
}

body{
  color:rgba(0,0,0,.7) !important;
}
label {
  display: none;
}

input,
textarea {
  padding:10px;
  border: solid 1px lavender;
  border-radius: 5px;
  margin-bottom: 7px !important;
  color:rgba(0,0,0,.7) !important;

}
li {
  list-style: none;
}
input:focus,
textarea:focus {
  outline: none;
  border-radius: 30px;
}

.edit-box {
  display: flex;
  flex-direction: column;
}

.edit-box input,
.edit-box textarea {
  max-width: 350px !important;
  min-width: 350px !important;
  margin-left: auto;
  margin-right: auto;
}
